@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');


/*ESTILO GLOBAL */
body.dark-bg {
    background-image: url('../assets/img/background_mario.gif'); 
    background-color: rgb(119, 69, 189), ;
    color: #ffeaf6dc;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: vh;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Tiny5", sans-serif; 
    font-weight: 400;
    font-style:normal;

}

.rodape {
    background-color:rgb(6, 0, 50);
    color: #72696e;
    padding: 1vw;
    text-align: center;
}

.glass {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    text-align: center;

}


.navbar {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: rgba(246, 77, 232, 0.67);
    padding: 15px 30px;
    font-family: sans-serif;
    padding: 13px 23px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.logo span {
    color: #e11be4;
    /* vinho escuro */
}


.hero-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-container h2 {
    font-size: 5.8vw;
    margin-bottom: 15px;
}

/*BOTÕES*/
.btn-primary {
    background: #10103d;
    padding: 13px 23px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;


}

.btn-primary:hover {
    filter: opacity(40%);
}

.btn-secondary {
    background: #222;
    border: 1px solid #444;
    padding: 10px 20px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.full {
    width: 100%;
}

/*FORMULÁRIOS*/
.form-box {
    width: 390px;
    padding: 50px;
    margin: 90px auto;
    text-align: auto;

}

.input-dark {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid #3333335d;
    padding: 12px;
    width: 93%;
    border-radius: 6px;
    color: rgba(151, 25, 124, 0.697);
    margin: 10px 0;
    position: center;
    margin-top: 2%;
}



/* DASHBOARD  */
.dashboard-area {
    padding: 30px;
    display: grid;
    gap: 40px;
    width: 76%;
    height: 1px;
    grid: template columns 39px;
    position: center;
}

/* Título DASHBOARD */
#title-dash {
    text-align:left ;
    font-weight: 50;
    font-size: 4.4px;
}

.livro-item {
    background: #10103d;
    padding: 62px;
    border-radius: 6px;
    margin-bottom: 87px;
}

/* @media (max-width: 768px) {
    body.dark-bg {
        background-image: url('../assets/img/fundo2.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    body.dark-bg {
        font-size: 16px;
        padding: 0 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        line-height: 1.3;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 1.1rem;
    }
} */
